@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --site-width: 1280px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
